@using Rahnemun.UIContracts

@model PasswordResetViewModel

@{
    this.SetUIInfo(new UIInfo
    {
        NavigationId = "PasswordReset",
        PageTitle = "تغییر کلمه عبور"
    });
    this.SetContentInfo(new ContentInfo
    {
        Title = "تغییر کلمه عبور"
    }, false);
    RequireScript("jQuery-Validation-All");
}

@section ContentBody {
    <div class="register two-column">
        <div class="container">
            <div class="column">
                @using (Html.BeginForm("", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    <fieldset>
                        <legend>تغییر کلمه عبور</legend>

                        @Html.HiddenFor(m => m.FullName)
                        @Html.HiddenFor(m => m.Nonce)
                        @Html.FullEditorFor(m => m.Password)
                        @Html.FullEditorFor(m => m.ConfirmPassword)

                        <button class="button default" type="submit">تایید</button>
                    </fieldset>
                }
            </div>

            <div class="column">
                <h2>کلمه عبور خود را تغییر دهید</h2>
                <p class="tip">@Model.FullName عزیز! کلمه عبور جدید خود را وارد نمایید.</p>
            </div>
        </div>
    </div>
}