@model MessageViewModel

<div class="form-group">
    @Html.TextAreaFor(m => m.Text, new { @class = "form-control", placeholder = "پیام خود را وارد کنید" })
    @Html.ValidationMessageFor(m => m.Text, null, new { @class = "validator" })
</div>
<div class="form-group">
    @Html.FileFor(m => m.Attachment, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Attachment, null, new { @class = "validator" })
    <p class="tip">@ModelMetadata.FromLambdaExpression(m => m.Attachment, Html.ViewData).Description</p>
</div>

